<div class="input">
    <label>
        <input
                name="{{name}}"
                id="{{id}}"
                class="input__element {{appointment}}"
                placeholder=""
                type="{{type}}"
                value="{{defaultValue}}"
                required
        />
        <p class="input__label">{{label}}</p>
        <p class="input__label-error">{{error}}</p>
    </label>
</div>