<div class="chat__item {{appointment}}">
    <img class="chat__item-avatar" src={{imgLink}} width="50" height="50" alt="">
    <div class="chat__item-data">
        <p class="chat__item-name">{{nameUser}}</p>
        <!--        <p class="chat__item-sender">{{sender}}</p>-->
        <p class="chat__item-message">{{sender}}{{messageUser}}</p>
    </div>
    <div class="chat__item-info">
        <p class="chat__item-message-date">{{dateMessage}}</p>
        <div class="chat__item-unread-value">
            <p class="unread-counter">
                {{unreadValue}}
            </p>
        </div>
    </div>
</div>


