<div class="chat__item {{appointment}}">
    <img class="chat__item-avatar" src={{imgLink}} width="50" height="50" alt="">
    <div class="chat__item-data">
        <p class="chat__item-name">{{nameUser}}</p>
        <div class="chat__item-message">
            <span>{{sender}}</span>
            <span>{{messageUser}}</span>
        </div>
    </div>
    <div class="chat__item-info">
        <p class="chat__item-message-date">{{dateMessage}}</p>
        <p class="chat__item-unread-value">{{unreadValue}}</p>
    </div>
</div>
